---
layout: default
title: Home
isLanding: true
---
<!-- Banner -->
<section id="banner">
	<h2>{{site.sitename}}</h2>
	<p>{{site.sitetagline}}</p>
	<ul class="actions">
		<li><a href="/contact/" class="button special">Get In Touch</a></li>
		<!-- <li><a href="#" class="button">Learn More</a></li> -->
	</ul>
</section>

<!-- Main -->
<section id="main" class="container">
	<section class="box special">
		<header class="major">
			<h2>{{site.orgoverview}}</h2>
			<p>{{site.orgdescription}}</p>
		</header>
		<span class="image featured"><img src="images/home_header.jpg" alt="" /></span>
	</section>
		
	<div class="row">

		{% assign isodd = site.storeitems | size | modulo: 2 %}
		{% assign lastitem = site.storeitems.last %}
		{% for card in site.storeitems %}
			{% if isodd > 0 and lastitem.title == card.title %}
			<div class="-3u 6u">
			{% else %}
			<div class="6u">
			{% endif %}
				<section class="box special">
					<span class="image featured"><img src="{{ card.imagecard }}" /></span>
					<h3>{{ card.title }}</h3>
					<p>{{ card.description }}</p>
					<ul class="actions">
						<li><a href="{{ card.link }}" class="button alt">See More</a></li>
					</ul>
				</section>
			</div>
		{% endfor %}
	</div>
</section>

