---
layout: default
---

<section id="main" class="container">
<header>
	<h2>{{ page.heading }}</h2>
	<p>{{ page.subheading }}</p>
</header>
{% assign isGalleryPresent = page.images | size %}
{% if isGalleryPresent > 0 %}
	<div class="row">
		<div class="12u">
			<section class="box">
				<p>{{ content }}</p>
				<ul class="actions" style="text-align: center">
					<li><a href="/contact/" class="button special">Share your thoughts</a></li>
					<!-- <li><a href="#" class="button">Learn More</a></li> -->
				</ul>
				</section>
				<section class="box">
				{% assign showAndMore = false %}
				<h3>A few samples</h3>
				<div id="effect-1" class="box alt effects clearfix">
					{% assign number = 0 %}
					{% for pic in page.images %}
					{% if pic.orientation != "portrait" %}
					{% assign showAndMore = true %}
					{% continue %}
					{% endif %}
					{% assign colIndex = number | modulo:3 %}
					{% if colIndex == 0 %}
					<div class="row no-collapse half uniform">
					{% endif %}
						<div class="4u">
							<div class="image fit img">
				                <img src="{{site.galleryrootdir}}/{{pic.thumb}}" alt="">
				                <div class="overlay">
				                    <a href="{{site.galleryrootdir}}/{{pic.image}}" class="gallery expand" style="border-bottom:none">Click here to enlarge</a>
				                    <a class="close-overlay hidden">x</a>
				                </div>
				            </div>
						</div>
					{% if colIndex == 2 %}
					</div>
					{% endif %}
					{% assign number = number | plus:1 %}
					{% endfor %}
				</div>
				</br>
				{% if showAndMore == true %}
				<h3>And more samples...</h3>
				{% endif %}
				</br>
				<div id="effect-1" class="box alt effects clearfix">
					{% assign number = 0 %}
					{% for pic in page.images %}
					{% if pic.orientation != "landscape" %}
					{% continue %}
					{% endif %}
					{% assign colIndex = number | modulo:4 %}
					{% if colIndex == 0 %}
					<div class="row no-collapse half uniform">
					{% endif %}
						<div class="3u">
							<div class="image fit img">
				                <img src="{{site.galleryrootdir}}/{{pic.thumb}}" alt="">
				                <div class="overlay">
				                    <a href="{{site.galleryrootdir}}/{{pic.image}}" class="gallery expand" style="border-bottom:none">Click here to enlarge</a>
				                    <a class="close-overlay hidden">x</a>
				                </div>
				            </div>
						</div>
					{% if colIndex == 3 %}
					</div>
					{% endif %}
					{% assign number = number | plus:1 %}
					{% endfor %}
				</div>
			</section>
		</div>
	</div>
{% endif %}
</section>
<script src="/js/modernizr.js"></script>
<script>
	jQuery(document).ready(function () {
		var cboxOptions = {
			rel:"gallery",
			transition:"fade",
			maxWidth:"85%",
			maxHeight:"85%"
		}

		$('.gallery').colorbox(cboxOptions);

		$(window).resize(function(){
		    $.colorbox.resize(cboxOptions);
		});
		if (Modernizr.touch) {
            // show the close overlay button
            $(".close-overlay").removeClass("hidden");
            // handle the adding of hover class when clicked
            $(".img").click(function(e){
                if (!$(this).hasClass("hover")) {
                    $(this).addClass("hover");
                }
            });
            // handle the closing of the overlay
            $(".close-overlay").click(function(e){
                e.preventDefault();
                e.stopPropagation();
                if ($(this).closest(".img").hasClass("hover")) {
                    $(this).closest(".img").removeClass("hover");
                }
            });
        } else {
            // handle the mouseenter functionality
            $(".img").mouseenter(function(){
                $(this).addClass("hover");
            })
            // handle the mouseleave functionality
            .mouseleave(function(){
                $(this).removeClass("hover");
            });
        }
  });
</script>