---
layout: default
---

<section id="main" class="container">
<header>
	<h2>{{ page.heading }}</h2>
	<p>{{ page.subheading }}</p>
</header>
{% assign isGalleryPresent = page.images | size %}
{% if isGalleryPresent > 0 %}
	<div class="row">
		<div class="12u">
	<section class="box">
	<!-- <h3>Text</h3> -->
					<!-- <p>This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>.
					This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
					This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>. Finally, <a href="#">this is a link</a>.</p> -->

		<p>{{ content }}</p>
		<hr />
	<div class="box alt">
		<div class="row no-collapse half uniform">
		{% for image in page.images %}
			<div class="3u">
			<div class="image fit">
				<a class="gallery image fit" href="{{site.galleryrootdir}}/{{image}}">
					<img src="{{site.galleryrootdir}}/{{image}}"/>
				</a>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
	</section>
	</div>
	</div>
{% endif %}
</section>
<script>
	jQuery(document).ready(function () {
		var cboxOptions = {
			rel:"gallery",
			transition:"fade",
			maxWidth:"90%",
			maxHeight:"90%"
		}

		$('.gallery').colorbox(cboxOptions);

		$(window).resize(function(){
		    $.colorbox.resize({
		      width: cboxOptions.maxWidth,
		      height: cboxOptions.maxHeight
		    });
		});
  });
</script>