---
layout: default
---

<section id="main" class="container">
<header>
	<h2>{{ page.heading }}</h2>
	<p>{{ page.subheading }}</p>
</header>
{% assign isGalleryPresent = page.images | size %}
{% if isGalleryPresent > 0 %}
	<div class="row">
		<div class="12u">
			<section class="box">
				<p>{{ content }}</p>
				<hr />
				<div class="box alt">
					{% assign number = 0 %}
					{% for pic in page.images %}
					{% if pic.orientation != "portrait" %}
					{% continue %}
					{% endif %}
					{% assign colIndex = number | modulo:3 %}
					{% if colIndex == 0 %}
					<div class="row no-collapse half uniform">
					{% endif %}
						<div class="4u">
							<a class="gallery image fit" href="{{site.galleryrootdir}}/{{pic.image}}">
								<img src="{{site.galleryrootdir}}/{{pic.thumb}}"/>
							</a>
						</div>
					{% if colIndex == 2 %}
					</div>
					{% endif %}
					{% assign number = number | plus:1 %}
					{% endfor %}
				</div>
				</br>
				<div class="box alt">
					{% assign number = 0 %}
					{% for pic in page.images %}
					{% if pic.orientation != "landscape" %}
					{% continue %}
					{% endif %}
					{% assign colIndex = number | modulo:3 %}
					{% if colIndex == 0 %}
					<div class="row no-collapse half uniform">
					{% endif %}
						<div class="2u">
							<a class="gallery image fit" href="{{site.galleryrootdir}}/{{pic.image}}">
								<img src="{{site.galleryrootdir}}/{{pic.thumb}}"/>
							</a>
						</div>
					{% if colIndex == 2 %}
					</div>
					{% endif %}
					{% assign number = number | plus:1 %}
					{% endfor %}
				</div>
			</section>
		</div>
	</div>
{% endif %}
</section>
<script>
	jQuery(document).ready(function () {
		var cboxOptions = {
			rel:"gallery",
			transition:"fade",
			maxWidth:"85%",
			maxHeight:"85%"
		}

		$('.gallery').colorbox(cboxOptions);

		$(window).resize(function(){
		    $.colorbox.resize({
		      width: cboxOptions.maxWidth,
		      height: cboxOptions.maxHeight
		    });
		});
  });
</script>